{% spaceless %}
{% load i18n %}
{% endspaceless %}
<h1>{% blocktrans %}You have received the following notice from {{ current_site }}{% endblocktrans %}:</h1>

<div>{{ message }}</div>

<div>
--<br />
<a href="{{ notices_url }}">{% blocktrans %}Other notices{% endblocktrans %}</a> | 
<a href="{{ settings_url }}">{% blocktrans %}Notice settings{% endblocktrans %}</a> | 
<a href="{{ unsubscribe_url }}">{% blocktrans %}Unsubscribe for notice type "{{ notice }}"{% endblocktrans %}</a> | 
<a href="{{ unsubscribe_all_url }}">{% blocktrans %}Unsubscribe for all notices{% endblocktrans %}</a>
</div>
