<script type="text/javascript">
    function notification_observe_toggle(url, el){
        jQuery.post(url, {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data) {
            if (data.success){
                if(data.observing){
                    $('span', el).first().css('display', 'none')
                    $('span', el).last().css('display', 'inline')
                } else {
                    $('span', el).first().css('display', 'inline')
                    $('span', el).last().css('display', 'none')
                }
                $(el).trigger('observe_toggled', [data.observing]);
            }
        }, "json");
    }
</script>
