<script type="text/javascript">
    function notificationObserveToggle(url, el){
        jQuery.post(url, {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data) {
            if (data.success){
                var event = jQuery.Event('observeToggle');
                $(el).trigger(event, [data.observing]);
                if (!event.isDefaultPrevented()) {
                    if(data.observing){
                        $('span', el).first().css('display', 'none')
                        $('span', el).last().css('display', 'inline')
                    } else {
                        $('span', el).first().css('display', 'inline')
                        $('span', el).last().css('display', 'none')
                    }
                    $(el).trigger('observeToggled', [data.observing]);
                }
            }
        }, "json");
    }
    $(function(){
        $('.notification-observe-link').each(function(i, el){
            $(el).trigger('observeCreated', [$('span', el).last().is(":visible")]);
        });
    });
</script>
